//-------------------------------------------------------
//- Modules :: Header
//-------------------------------------------------------

mixin header()
  header.header
    .logo
      a.logo__link(href="#")
        img(
          src="images/logoo.png"
          alt="logo"
        )
    .d-md-none.d-lg-none.d-xl-none.ml-auto
      button.navbar-toggler(
        id="js-toggle-sidebar"
        type="button"
        data-toggle="collapse"
        data-target="#sidebarCollapse"
        aria-controls="sidebarCollapse"
        aria-expanded="false"
        aria-label="Toggle navigation"
        ) 
          span.navbar-toggler-icon
    .dropdown.user
      button.btn.dropdown-toggle(
        type="button"
        id="dropdownMenuButton"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      )
        span.user__avatar
          img(src="images/user-avatar.jpg", alt="avatar")
      .dropdown-menu(aria-labelledby="dropdownMenuButton")
        a.dropdown-item(href="#") Action
        a.dropdown-item(href="#") Another action
        a.dropdown-item(href="#") Something else here
